[data-bs-theme=dark] {
    .react-calendar {
        background-color: black;
    }

    .react-calendar button:disabled {
        background-color: darkslategray;
    }

    .react-calendar button:hover:enabled {
        color: black;
    }

    .react-calendar .react-calendar__month-view__days__day--weekend{
        color: lightcoral;
    }

    .react-calendar__tile--now {
        background: blue;
      }
}