.noticia-preview {
    font-size: larger;
    font-weight: 600;
}

.click {
    text-decoration: none;
}

[data-bs-theme=dark] {
    .click:visited, .click:visited h2 {
        color: rgb(202, 163, 240);
    }
}


[data-bs-theme=light] {
    .click:visited, .click:visited h2 {
        color: blueviolet;
    }
}