[data-bs-theme=dark] .gradient {
  background: #1D2671;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1D2671, #be1b4e);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1D2671, #be1b4e);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

[data-bs-theme=light] .gradient {
  background: #c8cbed;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c8cbed, #fb90b2);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c8cbed, #fb90b2);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Para pantallas pequeñas */
@media screen and (max-width: 760px) {
  .nav-icon {
    display: inline;
    margin-right: 5px;
  }
}

/* Para pantallas grandes */
@media screen and (min-width: 760px) {
  .nav-icon {
    display: block;
  }

  .btn {
    justify-self: flex-end;
  }
}

/* Texto para lector de pantalla */
/* Lo escondemos normalmente */
.texto-lector-pantalla {
  opacity: 0;
  position: absolute;
  left: -9999px;
  z-index: 999;
}

/* Cuando recibe el foco se hace visible */
.texto-lector-pantalla:focus {
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 2px;
}