body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

/* Estilos especificos del modo claro */
[data-bs-theme=light] {
  .text-secondary {
    color:rgb(87, 87, 87);
  }

  .link-secondary {
    color:rgb(87, 87, 87);
  }
}

/* Estilos especificos del modo oscuro */
[data-bs-theme=dark] {
  .text-secondary-dark {
    color:rgb(172, 172, 172);
  }

  .link-secondary {
    color:rgb(172, 172, 172);
  }
}


/*Esta parte de aqui es para hacer que los botones del carrusel cambien de modo claro a oscuro*/
:root {
  --border-color: black; /* Default to black for light mode */
}

[data-bs-theme= dark] {
  --border-color: white; /* Set to white for dark mode */
}