body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.titulo {
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
}

/* Textos para modo claro y modo oscuro */
.text-normal-light {
  color: black;
}

.text-normal-dark {
  color: white;
}

.text-secondary-light {
  color:rgb(87, 87, 87);
}

.text-secondary-dark {
  color:rgb(172, 172, 172);
}

.link-secondary-light {
  color:rgb(87, 87, 87);
}

.link-secondary-dark {
  color:rgb(172, 172, 172);
}