.gradient-custom {
    background: #1D2671;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1D2671, #be1b4e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1D2671, #be1b4e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }